<div class="form-container" >
  <form class="example-form" [formGroup]="driverForm"  (ngSubmit)="addDriver()">
    <mat-form-field class="example-full-width">
      <mat-label>Driver Name</mat-label>
      <input matInput placeholder="Ex. Omar Qaneer" formControlName="driverName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Phone Number</mat-label>
      <input matInput placeholder="Ex. 0595444447" formControlName="phoneNumber">
    </mat-form-field>

    <div class="button-wrapper">
      <button mat-raised-button color="primary" > Add </button>
    </div>
  </form>
  </div>

