html, body {
  height: 100%;
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) of the container */
  padding-top: 50px; /* Add some padding to move the form down a bit */
  height: 100%;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.example-full-width {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
