  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- VehicleID Column -->
      <ng-container matColumnDef="VehicleID">
        <th mat-header-cell *matHeaderCellDef> Vehicle ID </th>
        <td mat-cell *matCellDef="let element"> {{element.VehicleID}} </td>
      </ng-container>

      <!-- VehicleNumber Column -->
      <ng-container matColumnDef="VehicleNumber">
        <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
        <td mat-cell *matCellDef="let element"> {{element.VehicleNumber}} </td>
      </ng-container>

      <!-- VehicleType Column -->
      <ng-container matColumnDef="VehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.VehicleType}} </td>
      </ng-container>

      <!-- LastDirection Column -->
      <ng-container matColumnDef="LastDirection">
        <th mat-header-cell *matHeaderCellDef> Last Direction </th>
        <td mat-cell *matCellDef="let element"> {{element.LastDirection}} </td>
      </ng-container>

      <!-- LastStatus Column -->
      <ng-container matColumnDef="LastStatus">
        <th mat-header-cell *matHeaderCellDef> Last Status </th>
        <td mat-cell *matCellDef="let element"> {{element.LastStatus}} </td>
      </ng-container>

      <!-- LastAddress Column -->
      <ng-container matColumnDef="LastAddress">
        <th mat-header-cell *matHeaderCellDef> Last Address </th>
        <td mat-cell *matCellDef="let element"> {{element.LastAddress}} </td>
      </ng-container>

      <!-- LastLatitude Column -->
      <ng-container matColumnDef="LastLatitude">
        <th mat-header-cell *matHeaderCellDef> Last Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.LastLatitude}} </td>
      </ng-container>

      <!-- LastLongitude Column -->
      <ng-container matColumnDef="LastLongitude">
        <th mat-header-cell *matHeaderCellDef> Last Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.LastLongitude}} </td>
      </ng-container>

      <!-- ShowMore Column -->
      <ng-container matColumnDef="ShowMore">
        <th mat-header-cell *matHeaderCellDef> Show More </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary">Show More</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

